<h1>Score</h1>
<div class="container">
  <% if @valid_word %>
    <p>The word '<%= @word %>' is valid according to the grid and is an English word.</p>
  <% else %>
    <% if @valid_grid_word %>
      <p>The word '<%= @word %>' is valid according to the grid, but is not a valid English word.</p>
    <% else %>
      <p>The word '<%= @word %>' can't be built out of the original grid.</p>
    <% end %>
  <% end %>
</div>

<div class="container">
  <%= link_to 'New Game', new_path, class: "btn btn-primary"%>
</div>
